<!DOCTYPE html>
<html>
    <head>
        <title>Places you've been to</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>

    <div class="container">
        <h1 class="header">Places you've been to:</h1>
        <!-- message -->

        {% include 'message.html.twig'%}

        {% for place in places %}
            <div class="well">
                <h2>{{ place.getCity }}</h2>
                <h3>{{ place.getCountry }}</h3>
                <h3>Visited in {{ place.getYear}}</h3>
                <img src="{{ place.getImage }}">
                <form action="/delete_one" method="post">
                    <button class="btn" name='delete_one' value='{{ place.getCity }}'>Delete this place!</button>
                </form>
            </div>
        {% endfor %}

        <form action="/add_place" method="post">
            <h2>Enter info for a place you visited</h2>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" class="form-control" name="city" id="city">
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" class="form-control" name="country" id="country">
            </div>
            <div class="form-group">
                <label for="year">Year visited:</label>
                <input type="text" class="form-control" name="year" id="year">
            </div>
            <div class="form-group">
                <label for="image_src">Image url:</label>
                <input type="text" class="form-control" name="image_src" id="image_src">
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>

        <form action="/delete_all" method='post'>
            <button class="btn" type="submit">Delete All</button>
        </form>

    </div>
    </body>
</html>
