<!DOCTYPE html>
<html>
    <head>
        <title>Places you've been to</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>

    <div class="container">
        <h1 class="header">Places you've been to:</h1>
        {% for place in places %}
            <div class="well">
                <h2>{{ place.getCity }}</h2>
                <h3>{{ place.getCountry }}</h3>
                <h3>Visited in {{ place.getYear}}</h3>
                <img src="{{ place.getImage }}">
                <form action="/delete_one" method="post">
                    <button class="btn btn-warning" name='delete_one' value='{{ place.getCity }}'>Delete this place!</button>
                </form>
            </div>
        {% endfor %}

        {% include 'message.html.twig'%}

        {% if form %}
            {% include 'form.html.twig' %}
        {% endif %}

        {% if not form %}
            <form action="/show_form">
                <button class="btn btn-default">Add another Place!</button>
            </form>
        {% endif %}

        <br>

        {% if places %}
            <form action="/delete_all" method='post'>
                <button class="btn btn-danger" type="submit">Delete All</button>
            </form>
        {% endif %}

    </div>
    </body>
</html>
